In [16]:
# Connecting to GDrive
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [17]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from skimage import feature
from sklearn import svm
from sklearn.utils import shuffle
from sklearn import metrics
import os
import gzip

In [19]:
# Load the dataset
df = pd.read_excel('/content/gdrive/My Drive/Capstone/dataset.xlsx')

# Check for missing values
print(df.isnull().sum())

# Remove non-numeric characters and convert columns to numeric
for column in df.columns:
    # Assuming your data is in string format with a '$' sign
    if df[column].dtype == 'object':
        df[column] = df[column].replace('[\$,]', '', regex=True).astype(float)
        # Round to the nearest whole number and convert to integer
        df[column] = df[column].round(0).astype(int)

# Fill missing values

# Option 2: Fill with the mean of the column
df_filled = df.fillna(df.mean())



# Save the filled dataframe if needed
df_filled.to_excel('/content/gdrive/My Drive/Capstone/datasetprocessed.xlsx')

print(df_filled.head())  # Show the first few rows of the filled dataframe

Year                                            0
Average Copper Price                            0
Wages and salaries                              0
Employer contributions into superannuation      0
Selected labour costs                           0
Payroll tax                                     0
Total labour costs                              0
Sales and service income                        2
Capital work done for own use                   5
Purchases of goods and materials                1
Other intermediate input expenses               7
Industry value added                            0
Plant, machinery and equipment                  1
Dwellings, buildings and other structures       2
Other (including land and intangible assets)    3
Gross fixed capital formation                   0
Disposal of assets                              4
Net capital expenditure                         4
Total capital expenditure                       0
dtype: int64
   Year  Average Copper Price  Wages and salaries  \
0  2012                     4                 851
1  2013                     4                 935
2  2014                     3                 852
3  2015                     3                 776
4  2016                     2                 801

   Employer contributions into superannuation  Selected labour costs  \
0                                          80                    944
1                                          92                   1042
2                                          89                    960
3                                          80                    873
4                                          80                    905

   Payroll tax  Total labour costs  Sales and service income  \
0           40                 991               6710.888889
1           49                1095               6276.000000
2           46                1010               5433.000000
3           45                 921               6710.888889
4           43                 952               5645.000000

   Capital work done for own use  Purchases of goods and materials  \
0                           64.0                            1203.8
1                           75.0                            1236.0
2                           49.0                            1110.0
3                          109.0                            1017.0
4                          194.0                             956.0

   Other intermediate input expenses  Industry value added  \
0                            2734.00                  3765
1                            2485.00                  2609
2                            2246.00                  2043
3                            2514.25                  2208
4                            2514.25                  3048

   Plant, machinery and equipment  Dwellings, buildings and other structures  \
0                           664.0                                 653.777778
1                           341.0                                 330.000000
2                           516.0                                  81.000000
3                           244.0                                 205.000000
4                           331.0                                 260.000000

   Other (including land and intangible assets)  \
0                                        76.375
1                                        95.000
2                                        47.000
3                                        36.000
4                                        30.000

   Gross fixed capital formation  Disposal of assets  Net capital expenditure  \
0                           1170           23.000000              1203.000000
1                            725           11.285714              1133.571429
2                            616           11.285714              1133.571429
3                            470            3.000000               481.000000
4                            585           27.000000               594.000000

   Total capital expenditure
0                       1226
1                        766
2                        644
3                        484
4                        621